<p>
    <mat-toolbar color="primary">
      <span> Nuevo Articulo</span>
      <span class="example-spacer"></span>
     <button mat-stroked-button color="white" (click)="salir()">Volver</button>
     
    </mat-toolbar>
  </p>

  <div class="inner-wrapper">
  <form [formGroup]="articuloForm"
  (ngSubmit)="onSubmit()">
  
    <!-- 1 -->
    <div fxLayout="row" fxLayout.xs="column" fxLayout.md="column" fxLayoutAlign="start" fxLayoutGap="20">
        <div fxFlex>
            <mat-form-field  class="input-full-width" appearance="outline">
                <mat-label>cod_barras</mat-label>
                <input formControlName="cod_barras" matInput />
            </mat-form-field>
        </div>
      
        <div fxFlex>
            <mat-form-field class="input-full-width" appearance="outline">
                <mat-label>id_clasificacion</mat-label>
                <input formControlName="id_clasificacion" matInput />
            </mat-form-field>
        </div>
        
           
    </div>

     <!-- 2-->
     <div fxLayout="row" fxLayout.xs="column" fxLayout.md="column" fxLayoutAlign="start" fxLayoutGap="20">
        <div fxFlex>
            <mat-form-field  class="input-full-width" appearance="outline">
                <mat-label>descripcion</mat-label>
                <input formControlName="descripcion" matInput />
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="input-full-width" appearance="outline">
                <mat-label>descripcion_corta</mat-label>
                <input formControlName="descripcion_corta" matInput />
            </mat-form-field>
        </div>
       
        
            <div fxFlex>
                <mat-form-field  class="input-full-width" appearance="outline">
                    <mat-label>id_unidad</mat-label>
                  
                    <select matNativeControl formControlName="id_unidad">
                        <option value="92ECBFED-1812-4FBA-8D04-1B6A0AE60839">92ECBFED-1812-4FBA-8D04-1B6A0AE60839</option>
                        <option value="2C0D16EC-329B-4709-97BA-4A3FC5F7E780">2C0D16EC-329B-4709-97BA-4A3FC5F7E780</option>
                        <option value="AC418555-FA67-40F5-AD69-6B9D9D2079AB">AC418555-FA67-40F5-AD69-6B9D9D2079AB</option>
                        <option value="BB7DF3BE-0580-4394-847E-7C4B1F08A0D2">BB7DF3BE-0580-4394-847E-7C4B1F08A0D2</option>
                      </select>
                </mat-form-field>
            </div>
    </div>

     <!-- 3 -->
     <div fxLayout="row" fxLayout.xs="column" fxLayout.md="column" fxLayoutAlign="start" fxLayoutGap="20">
        <div fxFlex>
            <mat-form-field  class="input-full-width" appearance="outline">
                <mat-label>id_proveedor</mat-label>
                <select matNativeControl formControlName="id_proveedor">
                    <option value="20A17E12-3BA4-40D7-8B68-00485036DFF9">20A17E12-3BA4-40D7-8B68-00485036DFF9</option>
                    <option value="EF69924A-ADB4-4EF2-A1E5-007CE09C590A">EF69924A-ADB4-4EF2-A1E5-007CE09C590A</option>
                    <option value="4EBD0CDF-DA64-45E8-B4DD-00A9ADBD686F">4EBD0CDF-DA64-45E8-B4DD-00A9ADBD686F</option>
                    <option value="C6EBF9BC-B1ED-46BC-850B-0285BB5C6AE2">C6EBF9BC-B1ED-46BC-850B-0285BB5C6AE2</option>
                  </select>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="input-full-width" appearance="outline">
                <mat-label>precio_compra</mat-label>
                <input formControlName="precio_compra" matInput />
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="input-full-width" appearance="outline">
                <mat-label>utilidad</mat-label>
                <input formControlName="utilidad" matInput />
            </mat-form-field>
        </div>
        
            <div fxFlex>
                <mat-form-field  class="input-full-width" appearance="outline">
                    <mat-label>precio_venta</mat-label>
                    <input formControlName="precio_venta" matInput />
                </mat-form-field>
            </div>
    </div>

     <!-- 4 -->
     <div fxLayout="row" fxLayout.xs="column" fxLayout.md="column" fxLayoutAlign="start" fxLayoutGap="20">
        <div fxFlex>
            <mat-form-field  class="input-full-width" appearance="outline">
                <mat-label>tipo_articulo</mat-label>
                <input formControlName="tipo_articulo" matInput />
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="input-full-width" appearance="outline">
                <mat-label>stock</mat-label>
                <input formControlName="stock" matInput />
            </mat-form-field>
        </div>
       
    </div>

    <!-- 7-->
    <div fxLayout="row" fxLayout.xs="column" fxLayout.md="column" fxLayoutAlign="start" fxLayoutGap="20">
     
        <div fxFlex>
            <mat-form-field class="input-full-width" appearance="outline">
                <mat-label>cve_producto</mat-label>
                <input formControlName="cve_producto" matInput />
            </mat-form-field>
        </div>
    </div>

    <!-- boton-->
    <button mat-raised-button color="primary">Aceptar</button>
</form>
</div>