<p>
    <mat-toolbar>
      <span>Agregar articulos</span>
    </mat-toolbar>
  </p>
<form [formGroup]="articulosForm">
    <!-- 1 -->
    <div fxLayout="row" fxLayout.xs="column" fxLayout.md="column" fxLayoutAlign="start" fxLayoutGap="20">
        <div fxFlex>
            <mat-form-field  class="input-full-width" appearance="outline">
                <mat-label>cod_barras</mat-label>
                <input formControlName="nombre" matInput autocomplete="Ingresar codigo de barras"/>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="input-full-width" appearance="outline">
                <mat-label>cod_asociado</mat-label>
                <input formControlName="social" matInput autocomplete="Ingresar codigo asociado" #txtRazonSocial/>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="input-full-width" appearance="outline">
                <mat-label>id_clasificacion</mat-label>
                <input formControlName="nombre" matInput autocomplete="Ingresar clasificacion"/>
            </mat-form-field>
        </div>
        
            <div fxFlex>
                <mat-form-field  class="input-full-width" appearance="outline">
                    <mat-label>cod_interno</mat-label>
                    <input formControlName="nombre" matInput autocomplete="Ingresar codigo"/>
                </mat-form-field>
            </div>
    </div>

     <!-- 2-->
     <div fxLayout="row" fxLayout.xs="column" fxLayout.md="column" fxLayoutAlign="start" fxLayoutGap="20">
        <div fxFlex>
            <mat-form-field  class="input-full-width" appearance="outline">
                <mat-label>descripcion</mat-label>
                <input formControlName="nombre" matInput autocomplete="Ingresar codigo de barras"/>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="input-full-width" appearance="outline">
                <mat-label>descripcion_corta</mat-label>
                <input formControlName="social" matInput autocomplete="Ingresar codigo asociado" #txtRazonSocial/>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="input-full-width" appearance="outline">
                <mat-label>cantidad_um</mat-label>
                <input formControlName="social" matInput autocomplete="Ingresar clasificacion"/>
            </mat-form-field>
        </div>
        
            <div fxFlex>
                <mat-form-field  class="input-full-width" appearance="outline">
                    <mat-label>id_unidad</mat-label>
                    <input formControlName="nombre" matInput autocomplete="Ingresar codigo"/>
                </mat-form-field>
            </div>
    </div>

     <!-- 3 -->
     <div fxLayout="row" fxLayout.xs="column" fxLayout.md="column" fxLayoutAlign="start" fxLayoutGap="20">
        <div fxFlex>
            <mat-form-field  class="input-full-width" appearance="outline">
                <mat-label>id_proveedor</mat-label>
                <input formControlName="nombre" matInput autocomplete="Ingresar codigo de barras"/>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="input-full-width" appearance="outline">
                <mat-label>precio_compra</mat-label>
                <input formControlName="social" matInput autocomplete="Ingresar codigo asociado" #txtRazonSocial/>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="input-full-width" appearance="outline">
                <mat-label>utilidad</mat-label>
                <input formControlName="social" matInput autocomplete="Ingresar clasificacion"/>
            </mat-form-field>
        </div>
        
            <div fxFlex>
                <mat-form-field  class="input-full-width" appearance="outline">
                    <mat-label>precio_venta</mat-label>
                    <input formControlName="nombre" matInput autocomplete="Ingresar codigo"/>
                </mat-form-field>
            </div>
    </div>

     <!-- 4 -->
     <div fxLayout="row" fxLayout.xs="column" fxLayout.md="column" fxLayoutAlign="start" fxLayoutGap="20">
        <div fxFlex>
            <mat-form-field  class="input-full-width" appearance="outline">
                <mat-label>tipo_articulo</mat-label>
                <input formControlName="nombre" matInput autocomplete="Ingresar codigo de barras"/>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="input-full-width" appearance="outline">
                <mat-label>stock</mat-label>
                <input formControlName="social" matInput autocomplete="Ingresar codigo asociado" #txtRazonSocial/>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="input-full-width" appearance="outline">
                <mat-label>stock_min</mat-label>
                <input formControlName="social" matInput autocomplete="Ingresar clasificacion"/>
            </mat-form-field>
        </div>
        
            <div fxFlex>
                <mat-form-field  class="input-full-width" appearance="outline">
                    <mat-label>stock_max</mat-label>
                    <input formControlName="nombre" matInput autocomplete="Ingresar codigo"/>
                </mat-form-field>
            </div>
    </div>

     <!-- 5-->
     <div fxLayout="row" fxLayout.xs="column" fxLayout.md="column" fxLayoutAlign="start" fxLayoutGap="20">
        <div fxFlex>
            <mat-form-field  class="input-full-width" appearance="outline">
                <mat-label>iva</mat-label>
                <input formControlName="nombre" matInput autocomplete="Ingresar codigo de barras"/>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="input-full-width" appearance="outline">
                <mat-label>kit_fecha_ini</mat-label>
                <input formControlName="social" matInput autocomplete="Ingresar codigo asociado" #txtRazonSocial/>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="input-full-width" appearance="outline">
                <mat-label>kit_fecha_fin</mat-label>
                <input formControlName="social" matInput autocomplete="Ingresar clasificacion"/>
            </mat-form-field>
        </div>
        
            <div fxFlex>
                <mat-form-field  class="input-full-width" appearance="outline">
                    <mat-label>articulo_disponible</mat-label>
                    <input formControlName="nombre" matInput autocomplete="Ingresar codigo"/>
                </mat-form-field>
            </div>
    </div>

    <!-- 6-->
    <div fxLayout="row" fxLayout.xs="column" fxLayout.md="column" fxLayoutAlign="start" fxLayoutGap="20">
        <div fxFlex>
            <mat-form-field  class="input-full-width" appearance="outline">
                <mat-label>kit</mat-label>
                <input formControlName="nombre" matInput autocomplete="Ingresar codigo de barras"/>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="input-full-width" appearance="outline">
                <mat-label>fecha_registro</mat-label>
                <input formControlName="social" matInput autocomplete="Ingresar codigo asociado" #txtRazonSocial/>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="input-full-width" appearance="outline">
                <mat-label>visible</mat-label>
                <input formControlName="social" matInput autocomplete="Ingresar clasificacion"/>
            </mat-form-field>
        </div>
        
            <div fxFlex>
                <mat-form-field  class="input-full-width" appearance="outline">
                    <mat-label>puntos</mat-label>
                    <input formControlName="nombre" matInput autocomplete="Ingresar codigo"/>
                </mat-form-field>
            </div>
    </div>

    <!-- 7-->
    <div fxLayout="row" fxLayout.xs="column" fxLayout.md="column" fxLayoutAlign="start" fxLayoutGap="20">
        <div fxFlex>
            <mat-form-field  class="input-full-width" appearance="outline">
                <mat-label>last_update_inventory</mat-label>
                <input formControlName="nombre" matInput autocomplete="Ingresar codigo de barras"/>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="input-full-width" appearance="outline">
                <mat-label>cve_producto</mat-label>
                <input formControlName="social" matInput autocomplete="Ingresar codigo asociado" #txtRazonSocial/>
            </mat-form-field>
        </div>
    </div>

    <!-- boton-->
    <button mat-raised-button color="primary">Aceptar</button>
</form>
