
    <mat-card>
        <mat-card-title>Login</mat-card-title>
    <mat-card-content>

  <form [formGroup]="loginForm"
  (ngSubmit)="onSubmit()">


    <!-- 1 -->
    <div fxLayout="row" fxLayout.xs="column" fxLayout.md="column" fxLayoutAlign="start" fxLayoutGap="20">
        <div fxFlex>
            <mat-form-field  class="input-full-width" appearance="outline">
                <mat-label>User</mat-label>
                <input formControlName="user" matInput />
            </mat-form-field>
        </div>    
    </div>
       <!-- 2-->
       <div fxLayout="row" fxLayout.xs="column" fxLayout.md="column" fxLayoutAlign="start" fxLayoutGap="20">
        <div fxFlex>
            <mat-form-field  class="input-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input formControlName="pass" matInput type="password"/>
            </mat-form-field>
        </div>    
    </div>

    <!-- boton-->
    <div class="button">
        <button  mat-raised-button color="primary">Entrar</button>
      </div>
    
</form>
</mat-card-content>
</mat-card>

