<p>
  <mat-toolbar color="primary">
    <span>Articulos</span>
    <span class="example-spacer"></span>

   <button mat-stroked-button color="white" (click)="agregar()">Agregar</button>
   <button mat-stroked-button color="white" (click)="venta()">Ventas</button>
   <button mat-stroked-button color="white" (click)="salir()">Salir</button>
  
  </mat-toolbar>
</p>


<table mat-table [dataSource]="data | slice:desde:hasta"  class="mat-elevation-z8" >

  <ng-container matColumnDef="cod_barras">
    <th mat-header-cell *matHeaderCellDef> cod_barras </th>
    <td mat-cell *matCellDef="let element"> {{element.cod_barras}} </td>
  </ng-container>

  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef> descripcion </th>
    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
  </ng-container>

  <ng-container matColumnDef="precio_compra">
    <th mat-header-cell *matHeaderCellDef> precio_compra</th>
    <td mat-cell *matCellDef="let element"> {{element.precio_compra}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action</th>
    <td mat-cell *matCellDef="let element"> 
     
      <button mat-button color="primary" (click)="editarArticulo(element.cod_barras)">edit</button>
       </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<mat-paginator [length]="data.length" [pageSize]="pageSize" 
(page)="cambiarpag($event)"></mat-paginator>
  